export("utility.endnode.discrete.create")
export("utility.endnode.intpol1d.create")
export("utility.endnode.parfun1d.create")
export("utility.endnode.intpol2d.create")
export("utility.endnode.cond.create")
export("utility.endnode.firstavail.create")
export("utility.endnode.classcounts.create")
export("utility.aggregation.create")
export("utility.conversion.intpol.create")
export("utility.conversion.parfun.create")

export("utility.aggregate.min")
export("utility.aggregate.max")
export("utility.aggregate.add")
export("utility.aggregate.geo")
export("utility.aggregate.geooff")
export("utility.aggregate.revgeo")
export("utility.aggregate.revgeooff")
export("utility.aggregate.cobbdouglas")
export("utility.aggregate.harmo")
export("utility.aggregate.harmooff")
export("utility.aggregate.revharmo")
export("utility.aggregate.revharmooff")
export("utility.aggregate.mult")
export("utility.aggregate.mix")
export("utility.aggregate.addmin")
export("utility.aggregate.addpower")
export("utility.aggregate.revaddpower")
export("utility.aggregate.addsplitpower")
export("utility.aggregate.revaddsplitpower")
export("utility.aggregate.bonusmalus")

export("utility.fun.exp")

export("utility.calc.colors")
export("utility.get.colors")
export("utility.get.attrib.names")

export("utility.structure")

S3method("print","utility.endnode.discrete")
S3method("print","utility.endnode.intpol1d")
S3method("print","utility.endnode.parfun1d")
S3method("print","utility.endnode.intpol2d")
S3method("print","utility.endnode.cond")
S3method("print","utility.endnode.firstavail")
S3method("print","utility.endnode.classcounts")
S3method("print","utility.aggregation")
S3method("print","utility.conversion.intpol")
S3method("print","utility.conversion.parfun")

S3method("summary","utility.endnode.discrete")
S3method("summary","utility.endnode.intpol1d")
S3method("summary","utility.endnode.parfun1d")
S3method("summary","utility.endnode.intpol2d")
S3method("summary","utility.endnode.cond")
S3method("summary","utility.endnode.firstavail")
S3method("summary","utility.endnode.classcounts")
S3method("summary","utility.aggregation")
S3method("summary","utility.conversion.intpol")
S3method("summary","utility.conversion.parfun")

export("evaluate")
S3method("evaluate","utility.endnode.discrete")
S3method("evaluate","utility.endnode.intpol1d")
S3method("evaluate","utility.endnode.parfun1d")
S3method("evaluate","utility.endnode.intpol2d")
S3method("evaluate","utility.endnode.cond")
S3method("evaluate","utility.endnode.firstavail")
S3method("evaluate","utility.endnode.classcounts")
S3method("evaluate","utility.aggregation")
S3method("evaluate","utility.conversion.intpol")
S3method("evaluate","utility.conversion.parfun")

S3method("plot","utility.endnode.discrete")
S3method("plot","utility.endnode.intpol1d")
S3method("plot","utility.endnode.parfun1d")
S3method("plot","utility.endnode.intpol2d")
S3method("plot","utility.endnode.cond")
S3method("plot","utility.endnode.firstavail")
S3method("plot","utility.endnode.classcounts")
S3method("plot","utility.aggregation")
S3method("plot","utility.conversion.intpol")
S3method("plot","utility.conversion.parfun")

export("updatepar")
S3method("updatepar","utility.endnode.discrete")
S3method("updatepar","utility.endnode.intpol1d")
S3method("updatepar","utility.endnode.parfun1d")
S3method("updatepar","utility.endnode.intpol2d")
S3method("updatepar","utility.endnode.cond")
S3method("updatepar","utility.endnode.firstavail")
S3method("updatepar","utility.endnode.classcounts")
S3method("updatepar","utility.aggregation")
S3method("updatepar","utility.conversion.intpol")
S3method("updatepar","utility.conversion.parfun")

importFrom("grDevices", "col2rgb","grey","rgb")
importFrom("graphics", "abline","axis","barplot","contour","image",
           "lines","mtext","par","plot","points","polygon","text")
importFrom("stats", "approx","quantile","uniroot")




